html, body, #root{
  height: 100%;
}

.login-cover{
  background-image: url(mollie-sivaram-_1gBVgy8gIU-unsplash.png);
  background-size: contain;
}

.login-overlay{
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}

.register-cover{
  background-image: url(mollie-sivaram-_1gBVgy8gIU-unsplash.png);
  background-size: contain;
}

.register-overlay{
  padding: 20px;
  background-color: rgba(0,0,0,0.5);
}

.header{
  background-image: url(cover.png);
  height:425px
  
}
.full-cover {
  margin-top: -230px;
}
.books-details{
  margin-top:-50px;
}

/* .Image{
  width: 100px;
  height: 100px;
  ma
} */



